<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Image Gallery</title>
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Random Image Gallery</h1>
        <div class="row">
            {% for image in images %}
            <div class="col-md-4 mb-3">
                <div class="card">
                    <a href="{{ url_for('detail', image_id=image['id']) }}">
                        <img src="/static/images/{{ image['id'] }}.jpg" width="250" class="img-fluid rounded" alt="{{ image['title'] }}">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{{ url_for('detail', image_id=image['id']) }}">{{ image['title'] }}</a>
                        </h5>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
